<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key = "pasteFormat" value = "yyyyMMdd" />
    <add key ="selected" value = ""/>
    <add key ="freeformat" value = ""/>
    <add key = "inputkey" value = ""/>
    <!--
    falseだと非表示。trueだと表示される
    -->
    <add key ="hiddenShrotcutFlag" value="true"/>
    <add key ="hiddenShrotcut" value=""/>
  </appSettings>
</configuration>